/* //////////////--------IMPORTED FONTS (IF ANY)----------------------///////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');  /* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');  /* font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap'); /* font-family: 'Fleur De Leah', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Merienda:wght@700&display=swap');  /* font-family: 'Fleur De Leah', cursive;
font-family: 'Merienda', cursive;*/


/* #F74700 */


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s linear;
}

/* ------------------------------ScrollBar---------------------------------------------------- */
.scrollBar::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollBar::-webkit-scrollbar-thumb {
    background: #F74700;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #677662, #F74700);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #677662, #F74700); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .scrollBar::-webkit-scrollbar-thumb:hover {
    background: #F74700;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #677662, #F74700);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #677662, #F74700); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }






/* //////////---------------------HEADER-----------------///////////// */


header{
    background:linear-gradient(#f7460046,#91a88c77), url(../images/team1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}




.intro-title{
    color: white;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    text-align: center;
    transform: translate(0%,210%);
    /* font-family: 'Fleur De Leah', cursive; */
}


@media screen and (max-width: 480px) {
    .intro-title{
        transform: translate(0%,60%);
    }
}

.navbar, .navbar-brand{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif; 
}
.navbar{
    border-bottom: white inset 1px;
    /* background-image: url(../images/fest08BannerDark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: #2B3531;
}

.navbar-brand img{
    height: 100px;
}

.nav-item{
    /* text-transform: capitalize; */
    padding-inline: 1rem;
}






/* ////////////////////-------------SECTION-------------////////////////////////// */

.desc{
    /* padding-top:4rem; */
    padding-bottom: 4rem;
    text-align: justify;
}

.desc-abt{
    padding-bottom: 0rem;
    text-align: justify;
}

.desc-sign{
    padding-bottom: 4rem;
    text-align: center;
    font-size: 1.2rem;
}


.about{
    text-align: center;
    font-size: 2rem;
    color:#677662;
    font-family: 'Fleur De Leah', cursive;
    font-family: 'Merienda', cursive;
    padding-top:4rem;

}



.speaker{
    text-align: center;
    font-size: 2rem;
    color:#2B3531;
    font-family: 'Fleur De Leah', cursive;
    font-family: 'Merienda', cursive;
    padding-top:4rem;
}

.speaker-img{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.speaker-img img{
    height: 400px;
    width:auto;
}

@media screen and (max-width:480px) {
    .speaker-img img{
        height: 200px;
        width:auto;
    }
}

.frame{
    border:1px solid red;
}


.sign-up p{
    text-align: center;
    font-size: 2rem;
    color:#2B3531;
    font-family: 'Fleur De Leah', cursive;
    font-family: 'Merienda', cursive;
    padding-top:4rem;
}

.bg1{
    background-color: #91a88c8c;
}

.bg2{
    background-color: #67766280;
    height: 800px;
}

@media screen and (max-width:480px) {
    .bg2{
        /* background-color: #67766280; */
        height: 900px;
    }
}

.bg3{
    background-color: #2b3531a1;
}


/* /////////////////////////////////Sign in button\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.btn-center{
    /* text-align: center; */
    /* justify-content: center; */
    padding-bottom: 4rem;
}

@media screen and (max-width:480px) {
    .btn-center{
        width: 110%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

a{
    text-decoration: none;
}

span{
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Fleur De Leah', cursive;
    font-family: 'Merienda', cursive;
    position:absolute;
    transition: all 0.25s linear;
    border-radius: 2rem;

}

span:first-child{
    background-color: #2B3531;
    color:#91A88C;    
}

span:last-child{
    background-color: #91A88C;
    color: #2B3531; 
    clip-path: polygon(63% 0, 100% 0, 100% 100%, 31% 100%);
}

span:last-child:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}



span:first-child:hover ~ span{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

}




/* ///////////////////////-----------FOOTER-------------------///////////////////// */


footer{
    color:#F74700;
    background-image: url(../images/festFooterDark.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* text-align:center; */
    padding: 2rem;
}

.links{
  text-align: center;
}

footer ul{
    /* list-style: none; */
    display:block;
    padding-left: 0px !important;
}

footer li{
    display:inline-block;
}

.social-media-links i{
    margin:3rem;
   color:#F74700;
}


@media screen and (max-width:400px) {

  .social-media-links i{
    margin:1rem;
    text-align: center;
}
  
}





/* //////////////////////Speaker Card\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* cards */
.main{
    max-width: 1200px;
    margin: 0 auto;
  }
  


  .main h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
 section img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding-top: 1rem;
    border-radius: 50%;
  }
  
  .cards{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 33.33%;
      align-items: center;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 70%;
      padding-left: 30%;
    }
  }
  
  .card {
    background-color: #91A88C;
    border-radius: 1rem;
    /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
    box-shadow: 5px 5px 20px 0px #677662;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card:hover{
      transform: translateY(30px);
  }
  
  .card_content {
    padding: 1rem;
    background-color:#91A88C;
  }
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
    text-align: justify;
    padding: 1rem;
  }